<form mix-post="/api-create-user" autocomplete="off">
    <div>
        <label for="user_first_name">First name<span>{{x.USER_FIRST_NAME_MIN}} {{x.USER_FIRST_NAME_MAX}}</span></label>
        <input id="user_first_name" name="user_first_name" type="text" placeholder="user first name" value="" mix-validate="{{x.REGEX_USER_FIRST_NAME}}"><!-- hardcoded if text in value -->
    </div>

    <div>
        <label for="user_last_name">Last name<span>{{x.USER_LAST_NAME_MIN}} {{x.USER_LAST_NAME_MAX}}</span></label>
        <input id="user_last_name" name="user_last_name" type="text" placeholder="user last name" value="" mix-validate="{{x.REGEX_USER_LAST_NAME}}"><!-- hardcoded if text in value -->
    </div>

    <div>
        <label for="user_email">Email<span>{{x.USER_EMAIL}} {{x.USER_EMAIL}}</span></label>
        <input id="user_email" name="user_email" type="text" placeholder="user email" value="" mix-validate="{{x.REGEX_USER_EMAIL}}"><!-- hardcoded if text in value -->
    </div>

    <div>
        <label for="user_password">Password<span>{{x.USER_PASSWORD_MIN}} {{x.USER_PASSWORD_MAX}}</span></label>
        <input id="user_password" name="user_password" type="password" placeholder="user password" value="" mix-validate="{{x.REGEX_USER_PASSWORD}}"><!-- hardcoded if text in value -->
    </div>

    <button type="submit">
        Signup
    </button>
</form>