{% include "_header.html" %}

<main>
    <form mix-post="/api-login" autocomplete="off">
        <div>
            <label for="">Email <span>{{USER_EMAIL}} to {{USER_EMAIL}}</span> </label>
            <input name="user_email" type="text" placeholder="user email" value="" mix-validate="{{x.REGEX_USER_EMAIL}}">
        </div>

        <div>
            <label for="">Password <span>{{USER_PASSWORD_MIN}} to {{USER_PASSWORD_MAX}}</span> </label>
            <input name="user_password" type="text" placeholder="user password" value="" mix-validate="{{x.REGEX_USER_EMAIL}}">
        </div>

        <button>
            Login
        </button>
    </form>
</main>


{% include "_footer.html" %}